<html>
<head>
 <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
 <link rel="stylesheet" href="devicon.css">
 <link href="https://fonts.googleapis.com/css?family=Barlow:300,400,700|Cantarell:400,700|Fjalla+One&display=swap" rel="stylesheet">
 <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
 <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
 <link
 href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css"
 rel="stylesheet"  type='text/css'>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
 <script src="https://kit.fontawesome.com/b90c7f9273.js" crossorigin="anonymous"></script>
 <title>My portfolio</title>
</head>

<body>
  <%= render 'shared/navbar' %>


  <div class="banner">
    <div class="about-photo">
      <%= image_tag "about-photo.jpg", width: 500%>
    </div>
    <div class="name-role-description">
      <div class="tech-stack">
        <h1 class="title">Tech stack</h1>
      </div>
      <div class="cards">
        <div class="card">
          <%= image_tag "html5.svg", height: 60 %>
          <%= image_tag "css3.svg", height: 60 %>
          <%= image_tag "bootstrap.svg", height: 60 %>
          <%= image_tag "javascript.svg", height: 60 %>
        </div>
        <div class="card">
          <%= image_tag "ruby-original.svg", height: 60 %>
          <%= image_tag "rails-original.svg", height: 60 %>
        </div>
        <div class="card">
          <%= image_tag "git.svg", height: 60 %>
          <%= image_tag "github.svg", height: 60 %>
          <%= image_tag "heroku.svg", height: 60 %>
        </div>
      </div>
    </div>
  </div>

  <div class="projects">
    <h1>Skills</h1>
  </div>

  <div class="skills">
    <div class="skill">
      Tech Recruitment
      <div class="sub-text">
      3+ years of experience
      </div>
    </div>

    <div class="skill">
      Popularizing/Teaching tech knowledge among non tech teams
      <div class="sub-text">
      Workshops and internal e-learning course
      </div>
    </div>

    <div class="skill">
      Mentoring & coaching
      <div class="sub-text">
      Onboarded 20+ junior HR colleagues, led 4-5 team members
      </div>
    </div>

    <div class="skill">
      Customer service focused on developers
      <div class="sub-text">
      2000+ calls with developers
      </div>
    </div>

   <div class="skill">
      Organisation/Structure
      <div class="sub-text">
      Notion, Trello, Post it!
      </div>
    </div>
  </div>

  <%= render 'shared/footer' %>
</body>
</html>
